################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/02-Bubble/levels/firstmapNou (1).txt
